$c-bg-deep: #413737; /* #664e3d; /*#664e3d; /* #c6a88d; /* #835a49; */
$c-bg: #e6d9cf; /* #efefef; /*#222;  /* #d4b8ac; */
$c-highlight: #ff977d;
$c-text: #4e3f33; /* #3a3a3a; /* #5f5045; /* #222; /*#efefef; /* #835a49; */
$c-text-header: #664e3d;
$c-text-light: #e6d9cf;
$c-border: #222;
$url-banner: '../img/me-winded-in-desert.jpg';
$c-border-test: none; /*1px dashed #fff; */
$c-border-test2: none; /*1px dashed blue; */
$shadow: 10px 10px 5px grey;

$pad-body: 0.4em;
$pad-desk: 3em;
$pad-mobile: 1em;

$xlarge: 1281px;
$large: 1053px;
$medium: 737px;
$small: 481px;
$xsmall: 361px;