$c-bg-deep: #413737; /* #664e3d; /*#664e3d; /* #c6a88d; /* #835a49; */
$c-bg: #e6d9cf; /* #efefef; /*#222;  /* #d4b8ac; */
$c-text: #4e3f33; /* #3a3a3a; /* #5f5045; /* #222; /*#efefef; /* #835a49; */
$c-text-header: #664e3d;
$c-text-light: #e6d9cf;
$c-border: #222;
$url-banner: '../img/me-winded-in-desert.jpg';
$c-border-test: none; /*1px dashed #fff; */
$c-border-test2: none; /*1px dashed blue; */
$shadow: 10px 10px 5px grey;

$pad-body: 0.4em;
$pad-desk: 3em;
$pad-mobile: 1em;

$xlarge: 1281px;
$large: 1053px;
$medium: 737px;
$small: 481px;
$xsmall: 361px;

body {
  padding: $pad-body;
  background: $c-bg-deep;
  font-family: 'Noto Serif', serif;
  text-align: left;
  color: $c-text;

}
h1 {
  color: $c-text-header;
  font-size: 6em;
  &.slogan {
    margin-top: 1em;
  }
}
.wrapper {
  display: flex;  
  flex-flow: wrap;
  flex-direction: row;
  min-height: calc(100vh - 0.8em);
}

.wrapper > * {
  //padding: 1em;
  flex: 1 100%;
}

.col-1, .col-3, .col-primary, .col-secondary {
  padding: $pad-desk;
}

.header {
  flex: 1 100%;
  display: flex;
  background: $c-bg;
  border: $c-border-test;
  position: relative;
  p {
    font-size: 1.6em;
  }
  .ab-logo {
    position: absolute;
    top: -58px; /* bottom: -56px; */
    width: 100px;
    right: 56px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
}

.banner {
  background: url($url-banner);
  background-size: cover;
  min-height: 400px;
  background-position: center center;
}

.footer {
  order: 3;
  font-size: 0.8em;
  letter-spacing: 0.04em;
  > .col-primary {
    background: $c-bg-deep;
    color: $c-text-light;
  }
}



.col-primary {
  flex: 3 0px;
  order: 1;
  background: $c-bg;
  border: $c-border-test;
}

.col-secondary {
  order: 2;
  flex: 3 0 0;
  background: $c-bg;
  border: $c-border-test2;
}

.col-3 {
  flex: 4 0 0;
  border: $c-border-test;
}

.col-1 {
  flex: 1 0 0;
  border: $c-border-test2;
}

@media screen and (max-width: $large) {
  h1 {
    font-size: 3em;
  }
  .header {
    p {
      font-size: 1.2em;
    }
  }
}

@media screen and (max-width: $medium) {
  h1 {
    font-size: 1.6em;
  }
  .col-1, .col-3, .col-primary, .col-secondary {
    padding: $pad-mobile;
    
  }
  .col-secondary {
    flex-basis: calc(100% - 2em);
    flex-grow: 1;
  }

  .header {
    p {
      font-size: 1em;
    }
  }

}
@media screen and (max-width: $small) {
  
}



