$c-bg-deep: #835a49;
$c-bg: #d4b8ac;
$c-text: #835a49;
$c-border: #222;

body {
  padding: 0.4em; 
  background: $c-bg-deep;
  font-family: 'Noto Serif', serif;
  text-align: left;
  color: $c-text;

}
h1 {
  font-size: 3em;
}
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  min-height: calc(100vh - 0.8em);
}

.wrapper > * {
  padding: 1em;
  flex: 1 100%;
}

.header {
  background: $c-bg;
  padding: 0 3em;
}
.banner {
  background: url('./contact-us-desert.jpg');
  background-size: cover;
  min-height: 400px;
  background-position: center center;
}

.footer {
  background: $c-bg;
  padding: 0 3em;
}

.col-primary {
  padding: 0 3em;
  background: $c-bg;
  border: 1px dashed $c-border;
}

.col-secondary {
  padding: 0 3em;
  background: $c-bg;
  border: 1px dashed $c-border;
}


@media screen and (min-width: 600px) {
  .aside { flex: 3 0 0; }
}

@media screen and (min-width: 800px) {
  .col-primary    { flex: 3 0px; }
  .col-primary    { order: 1; }
  .col-secondary { order: 2; } 
  .footer  { order: 3; }
}

